.sidebar-search {
  width: 100%;
  background-color: #f6f6f6;
}
input {
  box-sizing: border-box;
  margin: 7px 7px;
  width: 95%;
  height: 30px;
  border: 0px solid black;
  box-shadow: 0 0 10px rgb(224, 223, 223);
  border-radius: 25px;
  padding-left: 30px;
}
