.chat-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(230, 229, 229);
  //   background-color: aqua;
}
.chat-contact:hover {
  background-color: #f3f0f0;
}

.person-img {
  flex: 1;
  display: grid;
  place-items: center;
}
.person-image {
  size: 50px;
}
.name-and-message {
  flex: 3;
  //   font-size: 15px;
}
.timestamp {
  flex: 1;
  display: grid;
  place-items: center;
  padding-right: 10px;
  color: grey;
  font-size: 13px;
  top: 0;
}
#name {
  font-size: 15px;
  margin-bottom: 0px;
}
#last-mess {
  font-size: 12px;
  color: grey;
}
