.right * {
  padding: 10px;
  color: darkgray;
}

.chatarea-header {
  background-color: rgb(238, 237, 237);
  // height: 50px;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
}
