p {
  font-size: 15px;
  max-width: 50%;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  span {
    float: right;
    font-size: 10px;
    color: grey;
    padding-left: 10px;
  }
}
.message {
  margin-top: 0px;
  padding-bottom: 0px;
}
