.chat-room {
  background-color: rgb(243, 243, 243);
  margin: 30px 10px;
  width: 100%;
  height: 90%;
  display: flex;
  box-shadow: 0px 0px 10px #9c9b9b;
}
.sidebar {
  flex: 1;
  height: 100%;
  background-color: white;
}
.chat-area {
  flex: 2;
}
